body {
    background-color: rebeccapurple;
    font-family: "Comic Sans MS", serif;
}
h1 {
    font-family: Papyrus, serif;
    color: red;
    font-weight: bolder;
    font-size: x-large;
}
h2 {
    font-family: Papyrus, serif;
    color: pink;
    font-size: large;
}
.titleBox {
    background-color: purple;
    padding: 10px;
    border-width: 2px;
    border-color: deeppink;
    border-style: solid;
}
.messageBox {
    height: 15rem;
    background-color: mediumpurple;
    flex: 75%;
    padding: 1%;
    border-width: 2px;
    border-color: deeppink;
    border-style: solid;
}
.allMessages > {
    background-color: black;
    color: purple;
}
.allUsersListBox {
    background-color: mediumpurple;
    height: 15rem;
    flex: 19%;
    padding: 1%;
    border-width: 2px;
    border-color: deeppink;
    border-style: solid;
}
.flexbox-chat {
    display: flex;
    flex-wrap: wrap;
}
#messageBox {
    width: 100%;
    display: flex;
    background-color: pink;
    border-width: 2px;
    border-color: deeppink;
    border-style: solid;
    height: 3rem;
}